 {%extends 'base.html'%}
 {%block content%}

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">

	<div id="workwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
                <h3 id="loginText">Cadastro de novo {{ tipoDeEvento }}</h3>

          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                <font color="white">
                  {{ field.label_tag }}
                </font>
                <br>
                {{ field }}<br>
                {% if field.help_text %}
                  <small style="color: white">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">Sign up</button>
          </form>

				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/workwrap -->
	
 {%endblock%}
 
