 {%extends 'base.html'%}
 {%block content%}

    <title>Bares</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">

   

	<div id="workwrapBares">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1 id="textoTituloAppGeral">BARES</h1>
				</div>
			</div><!--/row -->
	    </div> <!-- /container -->
	</div><!--/workwrap -->
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Bar para o seu rolê</h4>
				<p><i>Nesta parte do site, você encontrará os melhores bares de Brasília cadastrado pelos nossos usuários</i></p>
			</div>
		</div><!--/row -->
	</div><!--/container -->

  <div class="botoesNovoEvento">
      <a href={% url 'cadastro_evento' tipo_evento='bar' %}>
        <button>Adicionar bar</button>
    </a>
  </div>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Nome</th>
                <th>Preço do litrão</th>
            </tr>
            {% for bar in tabela_bares %}
                <tr>
                    <td>{{ bar.nome }}</td>
                    <td>{{ bar.precoLitrao }}</td>
                    <td>
                        <!--- Botoes para avaliacao, editar e deletar o evento --->
                        <!---<a>1</a>
                        <a>2</a>
                        <a>3</a>
                        <a>4</a>
                        <a>5</a>--->
                        <a href="http://google.com">E</a>
                        <a href= {% url 'deleta_evento' tipo_evento='bar' nome=bar.nome %}>D</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


<!---
    <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Preço do litrão</th>
      <th>Funcionamento</th>
      <th>Horário</th>
      <th>Bairro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>

      <td><a target="_blank" href="http://piratasbsb.com.br">Piratas</a></td>
      <td>R$:7,00</td>
      <td>SEGUNDA a SABADO</td>
      <td>18 as 21</td>
      <td>Aguas Claras</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Campinense</td>
      <td>R$:8,00</td>
      <td>SEGUNDA a SABADO</td>
      <td>17 as 19</td>
      <td>Asa Norte</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Chiquinho</td>
      <td>R$:9,00</td>
      <td>TERÇA a DOMINGO</td>
      <td>16 as 22</td>
      <td>Asa Norte</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Bedrock</td>
      <td>R$:8,50</td>
      <td>SEGUNDA a SABADO</td>
      <td>18 as 21</td>
       <td>Asa Norte</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Mendes</td>
      <td>R$:7,50</td>
      <td>SEGUNDA a SABADO</td>
      <td>18 as 22</td>
       <td>Asa Norte</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Devassa</td>
      <td>R$:10,00</td>
      <td>SEGUNDA a SABADO</td>
      <td>19 as 23</td>
       <td>Taguatinga</td>
    </tr>
  </tbody>
</table>
--->

	
{%endblock%}
