 {%extends 'base.html'%}
 {%block content%}
 {%load staticfiles%}

    <title>Teatro</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">

	<div id="workwrapTeatro">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1 id="textoTituloAppGeral">TEATRO</h1>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/workwrap -->
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE PROJECT</h4>
				<p><i>Cansou de cineminha? Está na hora de curtir uma peça teatral! Escolha a sua abaixo</i></p>
			</div>
			

		</div><! --/row -->
	</div><! --/container -->


    {% if user.is_staff == True %}
        <div class="botoesNovoEvento">
            <a href={% url 'cadastro_evento' tipo_evento='teatro' %}>
                <button>Adicionar teatro</button>
            </a>
        </div>
    {% endif %}


    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Nome</th>
                <th> </th>
            </tr>
            {% for teatro in tabela_teatros %}
                <tr>
                    <td>{{ teatro.nome }}</td>
                    {% if user.is_staff == True %}
                        <td>
                            <a href={% url 'atualiza_evento' tipo_evento='teatro' nome=teatro.nome %}>
                                <img src={% static 'img/atualiza.png' %} alt="Atualizar" style="width:20px;height:20px;border:0;">
                            </a>

                            <a href={% url 'deleta_evento' tipo_evento='teatro' nome=teatro.nome %}>
                                <img src={% static 'img/remove.jpg' %} alt="Remover" style="width:20px;height:20px;border:0;">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>



{%endblock%}
