 {%extends 'base.html'%}
 {%block content%}

    <title>Esportes</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">


	<div id="workwrapEsportes">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">				
					<h1 id="textoTituloAppGeral">ESPORTES</h1>			
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/workwrap -->
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE PROJECT</h4>
				<p><i>Aqui você verá os melhores eventos esportivos cadastrados pelos nossos usuários<i/></p>
			</div>
			

		</div><! --/row -->
	</div><! --/container -->

	<div class="botoesNovoEvento">
		<button type="button" class="btn btn-primary">Novo Evento</button>
	</div>
	


 {%endblock%}
