
 {%extends 'base.html'%}
 {%block content%}
 {%load staticfiles%}	

<title>Sobre </title>

 
<!-- Custom styles for this template -->
<link href="../static/css/style.css" rel="stylesheet">
<link href="../static/css/font-awesome.min.css" rel="stylesheet">
    

<div id="aboutwrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/aboutwrap -->
	
<div class="container">
	<div class="row centered mt mb">
		<div class="col-lg-8 col-lg-offset-2">
			<h2 id="title_sobre">Agenda Cultural</h2>

			<h3 class="titulo_sobre4">Quer divulgar com a gente? </h3>
			<p class="text_sobre">Quer divulgar com a gente? Mande um e-mail para agendacultural@gmail.com que faremos um orcamento </p>
			

			<h3 class="titulo_sobre3">Achou algo ofensivo?</h3>
			<p class="text_sobre">Entre em contato com a gente para analisarmos! </p>

			<h3 class="titulo_sobre4"> Motivação </h3>
			<p class="text_sobre" >Esse site foi criado no começo de 2017 por alunos da Universidade de Brasilia na disciplina de engenharia de software, com a intenção de promover e divulgar eventos relacionados a bares, festas, esporte e teatro no Distrito Federal e entorno.</p>
			<a> 
				<img id="imagem_unb" src={%static 'img/unb.png'%}>
			</a>
			<h3 class="titulos_sobre">Missão</h3>
			<p class="text_sobre">Proporcionar ao usuário opções de lazer de todos os tipos e para todos os orçamentos, divulgação de festas e eventos de todos os estilos para os brasilienses sempre terem opções de aproveitar ao máximo </p>
			<h3 class="titulos_sobre">Quem somos nos</h3>
			<p class="text_sobre_2">Alvaro Vieira - Engenharia de Computação</p>
			<p class="text_sobre_2">Gustavo Henrique Carvalho - Engenharia de Computação</p>
			<p class="text_sobre_2">Gabriel Pereira Pinheiro - Engenharia de Computação</p>
			<p class="text_sobre_2">Lucas Resende - Engenharia de Computação</p>
			<p class="text_sobre_2"> Rodrigo - Ciência da Computação</p>
			<p class="text_sobre_2">Thiago - Computação Licenciatura</p>
		</div>


	</div><! --/row -->
</div><! --/container -->

{%endblock%}