 {%extends 'base.html'%}
 {%block content%}

!<DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../static/ico/favicon.ico">

    <title>Cadastrar Evento</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AGENDA CULTURAL</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
           	<li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
           	<li class="active"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<div id="workwrapCadastroEventos">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h2 id="cadastrarText">Cadastre um evento em Brasília</h3>
				</div>
			</div>

		<div id="cadastroFormulario">
            <!-- Action manda pra URL (pode ser um script), methodo post para colocar no BD'
            que cuida dos dados depois do submit 
            Value: valor inicial
            Size: tamanho em char 
            Maxlenght: máximo de char a ser escrito-->
			<form class="form-horizontal" name="CadastroEventoForm" action={% url 'login' %} method="post">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="username" id="CadastroEventoTitulo">Nome do Evento</label>
                <div class="controls">
                    <input type="text" id="username" name="username" size="50">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teste" id="CadastroEventoTitulo" >Data e Hora do Início</label>
                <div class="controls">
                    <input type="datetime-local" name="teste" id="data">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Data e Hora do Fim</label>
                <div class="controls">
                    <input type="datetime-local" name="teste" id="horario">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Atraçoes</label>
                <div class="controls">
                   <textarea name="atracoes" rows="4" cols="50">Escreva os nomes, estilos musicais e horários das atrações
                        </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Ingressos</label>
                <div class="controls">
                    <input type="text" name="password" id="password" size="50" placeholder="Masculino/Feminino/Unissex">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Classificação etária</label>
                <div class="controls">
                      <select name="ClassificacaoEtaria" >
                        <option value="Livre" selected>Livre</option>
                        <option value="16anos">16 anos</option>
                        <option value="18anos">18 anos</option>
        
                      </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Endereço</label>
                <div class="controls">
                    <textarea name="atracoes" rows="4" cols="50"> Endereço, bairro, CEP, referência.
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Telefone para Contato</label>
                <div class="controls">
                        <input type="tel" name="usrtel "size="50" >
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo">Mais informações</label>
                <div class="controls">
                    <textarea name="atracoes" rows="4" cols="50"> Site, Facebook, Instagram e outras informações.
                        </textarea>
                </div>
            </div>
   <!--         <div class="control-group">
                <label class="control-label" for="password" id="CadastroEventoTitulo" ></label>
                <div class="controls">
                        <input type="checkbox" name="vehicle2" value="Car" id="CadastroEventoTitulo"> 
                        Eu li e estou de acordo com os termos e condições.
                </div>
            </div> -->
            <br>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Cadastrar</button>
                </div>
            </div>

            <!--{% if login_erro %}
               <font color="red">Usuario ou senha invalidos</font>
            {% endif %} -->
            </form>




	</div>
	    </div> 

	</div><! --/workwrap -->
	

	
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

  </body>
</html>
	
{%endblock%}
