 {%extends 'base.html'%}
 {%block content%}
 
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-1" style="margin-left: 0px; width: 100%; padding: 0px;">
					<h1 id="textoTituloApp">AGENDA CULTURAL</h1>
					<h3 id="textoSubTituloApp">A sua diversão em Brasília!</h3>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/headerwrap -->
	
	<section id="works"></section>
	<div class="container menusImagem" style="height: 572px">
	<div class=column>
		<div class="row centered mb"style="height: 100%">
				<div class="row centered" style="height: 25%">
					<div class="col-lg-4 col-md-4 col-sm-4 gallery" style="margin-top: 5px; width: 100%;"><!--Bar-->	
						<a href="pagina_bares"><img src="http://i.imgur.com/SDCHArn.jpg" class="img-responsive" style="width: 100%">
						</a>
					</div>
				</div>
				<div class="row centered" style="height: 25%">
					<div class="col-lg-4 col-md-4 col-sm-4 gallery" style="margin-top: 5px; width: 100%;"><!--Esporte-->	
						<a href="pagina_esportes">
							<img src="http://i.imgur.com/Y9vbED4.jpg" class="img-responsive" style="width: 100%">
						</a>
					</div>
				</div>

				<div class="row centered" style="height: 25%"> <!--Festa-->	
					<div class="col-lg-4 col-md-4 col-sm-4 gallery" style="margin-top: 5px; width: 100%;">
						<a href="pagina_festas"><img src="http://i.imgur.com/hJ5Nwbp.jpg" class="img-responsive" style="width: 100%"></a>
					</div>
				</div>
				<div class="row centered" style="height: 25%">
					<div class="col-lg-4 col-md-4 col-sm-4 gallery" style="margin-top: 5px; width: 100%;"><!--Teatro-->	
						<a href="pagina_teatro"><img src="http://i.imgur.com/JBZEO65.jpg" class="img-responsive" style="width: 100%"></a>
					</div>
				</div>
			
		</div><! --/row -->
		</div>
	</div><! --/container -->
	
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div id="socialdribbble" class="col-lg-2">
					<a href="#"><i class="fa fa-dribbble"></i></a>
				</div>
				<div id="socialfacebook" class="col-lg-2">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
				<div id="socialtwitter" class="col-lg-2">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
				<div id="sociallinkedin" class="col-lg-2">
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div id="socialinstagram" class="col-lg-2">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
				<div id="socialtumblr" class="col-lg-2">
					<a href="#"><i class="fa fa-tumblr"></i></a>
				</div>
			
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/social -->

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>FIQUE LIGADOS NOS EVENTOS AO SEU REDOR!</b></p>
				</div>
			
				<div class="col-lg-4">
					<p>"Se você obedece todas as regras, acaba perdendo toda a diversão..."</p>
				</div>
				<div class="col-lg-4">
					<p>hello@instant.com</p>
				</div>
			</div>
		</div>
	</div>
	

{%endblock%}