 {%extends 'base.html'%}
 {%block content%}


    <title>Festas</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

	<div id="workwrapFestas">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1 id="textoTituloAppGeral">FESTAS</h1>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/workwrap -->
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE PROJECT</h4>
				<p><i>Não fique de fora das melhores festas de Brasília. Encontre a sua, ou cadastre abaixo!</i></p>
			</div>
			

		</div><! --/row -->
	</div><! --/container -->

	<div class="botoesNovoEvento">
		<button type="button" class="btn btn-primary">Novo Evento</button>
	</div>
	
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div id="socialdribbble" class="col-lg-2">
					<a href="#"><i class="fa fa-dribbble"></i></a>
				</div>
				<div id="socialfacebook" class="col-lg-2">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
				<div id="socialtwitter" class="col-lg-2">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
				<div id="sociallinkedin" class="col-lg-2">
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div id="socialinstagram" class="col-lg-2">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
				<div id="socialtumblr" class="col-lg-2">
					<a href="#"><i class="fa fa-tumblr"></i></a>
				</div>
			
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/social -->


	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>FIQUE LIGADOS NOS EVENTOS AO SEU REDOR!</b></p>
				</div>
			
				<div class="col-lg-4">
					<p>"Se você obedece todas as regras, acaba perdendo toda a diversão..."</p>
				</div>
				<div class="col-lg-4">
					<p>hello@instant.com</p>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->
	

 {%endblock%}
