<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Teatro</title>
	<meta charset="utf-8">
	<link href="style.css" rel="stylesheet" type="text/css"/>
	<link  rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="icon" href="a.png">

</head>

<body>
	<ul class="nav nav-pills">
	  <li role="presentation" ><a href="index.html">Home</a></li>
	  <li role="presentation"><a href="pagina_sobre.html">Sobre nos</a></li>
	  <li role="presentation"><a href="pagina_bares.html">Bares</a></li>
	  <li role="presentation"><a href="pagina_esportes.html">Esportes</a></li>
	  <li role="presentation"class="active"><a href="pagina_teatro.html">Teatro</a></li>
	  <li role="presentation"><a href="pagina_festas.html">Festas</a></li>
	  <li role="presentation"><a href="pagina_login.html">Login</a></li>
	</ul>

	<div class="row centered">
		<div class="col-lg-4 col-md-4 col-sm-4 gallery" style="margin-top: 5px; width: 100%;"><!--Teatro-->	
			<a href="pagina_teatro.html"><img src="http://i.imgur.com/JBZEO65.jpg" class="img-responsive"></a>
		</div>
	</div>
		
</body>