<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Teatro</title>
	<meta charset="utf-8">
	<link href="style.css" rel="stylesheet" type="text/css"/>
	<link  rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
	<ul class="nav nav-pills">
  <li role="presentation" ><a href="paginadois.html">Home</a></li>
  <li role="presentation"><a href="conheca_mais.html">Sobre nos</a></li>
  <li role="presentation"class="active"><a href="pagina_login.html">Login</a></li>
</ul>

	
</body>