 {%extends 'base.html'%}
 {%block content%}

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

	<div id="workwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				<h3 id="loginText">Cadastre-se, ou raealize seu login!</h3>
					<a href="{% url 'signup' %}" class="nounderline">
					<button type="button" class="btn btn-primary btn-lg btn-block">Sign Up</button>
					</a>
					<div style="padding: 10px;"></div>
					<a href="{% url 'login' %}" class="nounderline">	
					<button type="button" class="btn btn-secondary btn-lg btn-block">Log In</button>
					</a>
					<div style="padding: 10px;"></div>
					<a href="{% url 'social:begin' 'facebook' %}" class="nounderline">	
					<button type="button" class="btn btn-primary btn-lg btn-block">Facebook Log In</button>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/workwrap -->
	
{%endblock%}