 {%extends 'base.html'%}
 {%block content%}

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">

	<div id="workwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				<h3 id="loginText">Log In</h3>

          <div id="login">
            <form class="form-horizontal" name="LoginForm" action={% url 'login' %} method="post">
            {% csrf_token %}
            <div  class="control-group">
                <label id="letras_login" class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username"  placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label id="letras_login" class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <br>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Login</button>
                </div>
            </div>
            {% if login_erro %}
               <font color="red">Usuario ou senha invalidos</font>
            {% endif %}
            </form>
        </div>

				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/workwrap -->
	
 {%endblock%}
