 {%extends 'base.html'%}
 {%block content%}
 
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">



  <div id="workwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        <h3 id="LoginText">Perfil</h3>
        <form action="{% url 'logout' %}">
            <input type="submit" value="Logout" />
          </form>
          <font color="white"> {{ first_name }} {{ last_name }} </font> <br>
          {% if update_ok == True %}
            <font color="blue"> <b>Perfil atualizado</b> </font>
          {% elif update_ok == False %}
            <font color="red"> <b>Erro na autualizacao do perfil</b> </font>
          {% endif %}

          {% if social_authenticated == True %}
            <font color="blue"> <b>Autenticado por {{ authenticator_name }}</b> </font>
          {% else %}
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <p>
                  <font color="white">
                    {{ field.label_tag }}
                  </font>
                  <br>
                  {{ field }}<br>
                  {% if field.help_text %}
                    <small style="color: white">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
              <button type="submit" name="update" value="update">Update</button>
            </form>
          {% endif %}
        </div>
      </div><! --/row -->
    </div> <!-- /container -->
  </div><! --/workwrap -->
	
	
 {%endblock%}
 