/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center;
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: white;
	text-shadow: 2px 2px #ff0000;

}

.backgroundNavbar{
		background-image: url('http://www.priberam.pt/dlpo/images/dplp/preto.jpg');

}
.navbar-default {

	border-color: transparent;
	background-image: linear-gradient(to bottom, black, #363636);

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;

	background-image: linear-gradient(to bottom, black, #363636);
	border-bottom: 5px solid black
	text-shadow: 2px 2px #ff0000;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	 text-shadow: 2px 2px #ff0000;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/background.jpeg) no-repeat center top;
	margin-top: -120px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	background-origin: border-box;
	min-height: 410px;
	width: 100%;
	
    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    -o-background-size: 80%;
    background-size: 80%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a;
}

#social i:hover {
	color: #4b67a1;
}

#socialdribbble i {
	font-size: 40px;
	color: #4a4a4a;
}

#socialdribbble i:hover {
	color: #ea4c89;
}

#socialfacebook i {
	font-size: 40px;
	color: #4a4a4a;
}

#socialfacebook i:hover {
	color: #3b5998;
}

#socialtwitter i {
	font-size: 40px;
	color: #4a4a4a;
}

#socialtwitter i:hover {
	color: #1da1f2;
}

#sociallinkedin i {
	font-size: 40px;
	color: #4a4a4a;
}

#sociallinkedin i:hover {
	color: #0077B5;
}

#socialinstagram i {
	font-size: 40px;
	color: #4a4a4a;
}

#socialinstagram i:hover {
	color: #663300;
}

#socialtumblr i {
	font-size: 40px;
	color: #4a4a4a;
}

#socialtumblr i:hover {
	color: #36465d;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#textoTituloApp{
	color: white;
	 text-shadow: 2px 2px #ff0000;

}

#textoTituloApp:hover{
	color: black;

}



/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

.tituloApp{
	color:white;
	-webkit-filter:grayscale(100%);
}

.tituloApp:hover{
	-webkit-filter:grayscale(0%);
    transition: 1s;
}